body {background-color:lavender;}
form {width:50%;
	margin:auto;
	font-family:arial;}
fieldset {background-color:whitesmoke;}
legend{font-family:arial;
	font-weight:bold;
	font-size:24;
	background-color:whitesmoke;}
label{display:block;}